* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 35.4px;
  color: #000;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
p {
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  color: #000;
}

