@import url('https://fonts.googleapis.com/css?family=Alice|Lato');




/* text settings */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
  h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 35.4px;
    color: rgb(0, 0, 0);
  }
  
  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
  }
  
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(0, 0, 0);
  }
  
  blockquote {
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
  }
  
  pre {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
  }
  
  /* other global */
  
  *a{
    cursor: pointer;
    text-decoration: none;
  }

*div{
    display: flex;
    justify-content: center;
    align-items: center;
}