@import "fonts.scss";


body {
    width: 100vw;
    height: 100vmin;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    }
div, header, menu, footer {
    display: flex;
}
button:hover{
    cursor: pointer;
}

hr{
    margin: 0px;
    border: none;
    width: 100vw;
    height: 0.8vh;
    background: -moz-linear-gradient(left, #13ac87 0%, #13ac87 12.5%, #96d659 12.5%, #96d659 25%, #bcd747 25%, #bcd747 37.5%, #2f93af 37.5%, #2f93af 50%, #13ac87 50%, #13ac87 62.5%, #96d659 62.5%, #96d659 75%, #bcd747 75%, #bcd747 87.5%, #2f93af 87.5%, #2f93af 100%);  /* FF3.6+ */
    background: -webkit-linear-gradient(left, #13ac87 0%, #13ac87 12.5%, #96d659 12.5%, #96d659 25%, #bcd747 25%, #bcd747 37.5%, #2f93af 37.5%, #2f93af 50%, #13ac87 50%, #13ac87 62.5%, #96d659 62.5%, #96d659 75%, #bcd747 75%, #bcd747 87.5%, #2f93af 87.5%, #2f93af 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #13ac87 0%, #13ac87 12.5%, #96d659 12.5%, #96d659 25%, #bcd747 25%, #bcd747 37.5%, #2f93af 37.5%, #2f93af 50%, #13ac87 50%, #13ac87 62.5%, #96d659 62.5%, #96d659 75%, #bcd747 75%, #bcd747 87.5%, #2f93af 87.5%, #2f93af 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #13ac87 0%, #13ac87 12.5%, #96d659 12.5%, #96d659 25%, #bcd747 25%, #bcd747 37.5%, #2f93af 37.5%, #2f93af 50%, #13ac87 50%, #13ac87 62.5%, #96d659 62.5%, #96d659 75%, #bcd747 75%, #bcd747 87.5%, #2f93af 87.5%, #2f93af 100%); /* IE10+ */
    background: linear-gradient(to right, #13ac87 0%, #13ac87 12.5%, #96d659 12.5%, #96d659 25%, #bcd747 25%, #bcd747 37.5%, #2f93af 37.5%, #2f93af 50%, #13ac87 50%, #13ac87 62.5%, #96d659 62.5%, #96d659 75%, #bcd747 75%, #bcd747 87.5%, #2f93af 87.5%, #2f93af 100%); /* W3C */
  }


/* шапка*/

header {
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
    min-height: 60px;
    width: auto;
    padding: 1vh;
}

.topMenu {
    align-items: center;

}
.menuButton {
    display: flex;
    align-items: center;
    height: 2vmax;
    padding: 3vh 1.5vw 3vh 1.5vw;
    margin: 1vw;
    border: none;
    border-radius: 1.5vmax;
    background: none;
    -webkit-border-radius: 1.5vmax;
    -moz-border-radius: 1.5vmax;
    -ms-border-radius: 1.5vmax;
    -o-border-radius: 1.5vmax;
    font-weight: 800;
    font-size: 16px;
    color: #33879e;

}
#home {
    background: #33879e;
    color: #fff;
}
#signIn {
    color: #13ac87;
}
.burstFor {
    display: flex;
    align-items: center;
    color: #33879e;
    cursor: pointer;
    text-decoration: none;

    div{
        align-items: center;
        width: 1vmax;
        height: 1vmax;
        margin: 1vw;
        padding: 1vh;
        border: solid 1px #33879e;
        border-radius: 10vh;
        -webkit-border-radius: 10vh;
        -moz-border-radius: 10vh;
        -ms-border-radius: 10vh;
        -o-border-radius: 10vh;
}
}


.promo {
    height: 30vh;
    min-height: 250px;
    background-size: auto;
}

/* інструкція */
.instruction {
    min-height: 200px;
    background-color: #eff8fb;
    div {
        margin: 1vh 5vw 0vw 5vw;
        margin-bottom: 0px;
        align-items: center;
        justify-content: space-between;
    }
}
    //нижня хвиляста границя
.wave{
    position: relative;
    background: linear-gradient(90deg, #eff8fb 0%, #eff8fb 100%);
    color:#fff;
    padding-top:0px;
    padding-bottom:15px;
}  
.wave::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #fff 13px);
}
.wave::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, #fff 12px, transparent 13px);
}
    // кроки
.step {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    min-height: 160px;
    text-align: center;
    color: #347385;
    p{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #347385;
    }
    h3{
        margin: 5px 0px -10px 0px;
    }
}
.arrow{
    height: 50px;
}
.stepImg{
    width: 120px;
    height: 80px;
}


/*features block*/

.featuresBlock{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1vh 5vw 0vw 5vw;
    button {
        align-items: center;
        width: 16vw;
        margin: 1vw;
        padding: 1vh;
        border: solid 2px #33879e;
        border-radius: 10vh;
        -webkit-border-radius: 10vh;
        -moz-border-radius: 10vh;
        -ms-border-radius: 10vh;
        -o-border-radius: 10vh;
        font-size: 18px;
        color: #33879e;
    }
}
.features{
    justify-content: space-between;
}
.feature{
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20vw; 
    h3 {
        color: #4e4e4e;
        font-size: 16px;
        margin-bottom: 5px;

    }
    p {
        color: #9c9c9c;
        font-size: 12px;
    }
}
.featureImg{
    width: 160px;
    height: 160px;
}

/*footer*/ 

footer{
    background-color: #295b69;

}
.footerContent{
    flex-direction: column;
    margin: 1vh 5vw 0vw 5vw;
    width: 100%;  

}
.footerTop{
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #33879e;

}
.footerContacts{
    align-content: center;
    a{
        color: white;
        text-decoration: none;
        font-size: 12px;
    }
    p{
        color: #9c9c9c;
        font-size: 12px;
        margin-right: 1vw;
    }
}
.mobileApp{
    justify-content: space-around;
    align-items: center;
    img{
        margin: 1vw;
    }
}
.footerBtm{
    margin: 2vh 0vw 2vh 0vw;
    a{
        color: #9c9c9c;
        font-size: 12px;
        margin-right: 1vw;
        text-decoration: none;
    }
}
