@import "fonts.css";

/* general */
body {
  width: 100vw;
  height: 100vmin;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}
div, header, menu, footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
button:hover {
  cursor: pointer;
}

/* верхня полоска */
hr {
  margin: 0px;
  border: none;
  width: 100vw;
  height: 0.8vh;
  background: -moz-linear-gradient(left, #13ac87 0%, #13ac87 12.5%, #96d659 12.5%, #96d659 25%, #bcd747 25%, #bcd747 37.5%, #2f93af 37.5%, #2f93af 50%, #13ac87 50%, #13ac87 62.5%, #96d659 62.5%, #96d659 75%, #bcd747 75%, #bcd747 87.5%, #2f93af 87.5%, #2f93af 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(left, #13ac87 0%, #13ac87 12.5%, #96d659 12.5%, #96d659 25%, #bcd747 25%, #bcd747 37.5%, #2f93af 37.5%, #2f93af 50%, #13ac87 50%, #13ac87 62.5%, #96d659 62.5%, #96d659 75%, #bcd747 75%, #bcd747 87.5%, #2f93af 87.5%, #2f93af 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #13ac87 0%, #13ac87 12.5%, #96d659 12.5%, #96d659 25%, #bcd747 25%, #bcd747 37.5%, #2f93af 37.5%, #2f93af 50%, #13ac87 50%, #13ac87 62.5%, #96d659 62.5%, #96d659 75%, #bcd747 75%, #bcd747 87.5%, #2f93af 87.5%, #2f93af 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #13ac87 0%, #13ac87 12.5%, #96d659 12.5%, #96d659 25%, #bcd747 25%, #bcd747 37.5%, #2f93af 37.5%, #2f93af 50%, #13ac87 50%, #13ac87 62.5%, #96d659 62.5%, #96d659 75%, #bcd747 75%, #bcd747 87.5%, #2f93af 87.5%, #2f93af 100%);
  /* IE10+ */
  background: linear-gradient(to right, #13ac87 0%, #13ac87 12.5%, #96d659 12.5%, #96d659 25%, #bcd747 25%, #bcd747 37.5%, #2f93af 37.5%, #2f93af 50%, #13ac87 50%, #13ac87 62.5%, #96d659 62.5%, #96d659 75%, #bcd747 75%, #bcd747 87.5%, #2f93af 87.5%, #2f93af 100%);
  /* W3C */
}


/* шапка*/
header {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  min-height: 60px;
  width: auto;
  padding: 1vh;
}
.logo {
  min-height: 40px;
  height: 10vh;
  min-width: 160px;
}
.topMenu {
  align-items: center;
  min-width: 200px;
  min-height: 20px;
  justify-content: center;
}
.menuButton {
  display: flex;
  align-items: center;

  height: 2vmax;
  padding: 3vh 1.5vw 3vh 1.5vw;
  margin: 1vw;
  min-width: 30px;


  border: none;
  border-radius: 1.5vmax;
  background: none;

  -webkit-border-radius: 1.5vmax;
  -moz-border-radius: 1.5vmax;
  -ms-border-radius: 1.5vmax;
  -o-border-radius: 1.5vmax;

  font-weight: 600;
  font-size: 16px;
  color: #33879e;
}
#home {
  background: #33879e;
  color: #fff;
}
#signIn {
  color: #13ac87;
}
.burstFor {
  display: flex;
  align-items: center;
  color: #33879e;
  cursor: pointer;
  text-decoration: none;
}
.burstFor div {
  align-content: center;
  width: 1vmax;
  height: 1vmax;
  margin: 1vw;
  padding: 1vh;
  border: solid 1px #33879e;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* слайдер з промо */
.promo {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.promo img {
  width: 250px;
  height: 270px;
  align-self: flex-end;
}
@media screen and (max-width: 1024px) {
  .promo img {order: 2;}
  .promo div {
    order: 1;
    margin: 1vh;
  }
}

.promoRight {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 6vw;
}
.promoRight h1 {
  color: #fff;
  width: 34vw;
  margin: 5px 0px -10px 0px;
}
.promoRight p {
  color: #fff;
  width: 34vw;
}
.promoRight button {
  color: #fff;
  width: 10vw;
  padding: 0.8vw;
  background-color: #2f93af;
  font-size: 16px;
  font-weight: 700;
  border: 3px solid #777777;
  min-width: 140px;

  
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}


/* інструкція */
.instruction {
  min-height: 200px;
  background-color: #eff8fb;
  align-items: center;
  justify-content: center;
}
.content{
  align-items: center;
  justify-content: center;
}
.instruction div {
  margin: 1vh 5vw 0vw 5vw;
  margin-bottom: 0px;
  align-items: center;
  justify-content: space-between;
}
.wave {
  position: relative;
  background: linear-gradient(90deg, #eff8fb 0%, #eff8fb 100%);
  color: #fff;
  padding-top: 0px;
  padding-bottom: 15px;
}
.wave::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, #fff 13px);
}
.wave::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image: radial-gradient(circle at 10px 15px, #fff 12px, transparent 13px);
}
.step {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-width: 140px;
  margin: auto;
  height: 20vh;
  min-height: 160px;
  text-align: center;
  color: #347385;
}
.step p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #347385;
}
.step h3 {
  margin: 5px 0px -10px 0px;
}
.arrow {
  height: 50px;
}
@media screen and (max-width: 1024px) {
  .arrow {display: none;}
  .instruction div {justify-content: center;}

}
.stepImg {
  width: 120px;
  height: 80px;
}


/*features block*/
.featuresBlock {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1vh 5vw 0vw 5vw;
}
.featuresBlock button {
  align-items: center;
  width: 16vw;
  min-width: 160px;
  margin: 1vw;
  padding: 1vh;
  border: solid 2px #33879e;
  border-radius: 10vh;
  -webkit-border-radius: 10vh;
  -moz-border-radius: 10vh;
  -ms-border-radius: 10vh;
  -o-border-radius: 10vh;
  font-size: 18px;
  color: #33879e;
}
.features {
  justify-content: space-between;
  height: fit-content;
  flex-wrap: wrap;
}
.feature {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20vw;
  min-width: 240px;
  margin: auto;
}
.feature h3 {
  color: #4e4e4e;
  font-size: 16px;
  margin-bottom: 5px;
}
.feature p {
  color: #9c9c9c;
  font-size: 12px;
}
.featureImg {
  width: 160px;
  height: 160px;
}


/*footer*/
footer {
  background-color: #295b69;
}
.footerContent {
  flex-direction: column;
  margin: 1vh 5vw 0vw 5vw;
  width: 100%;
}
.footerTop {
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #33879e;
}
.footerContacts {
  align-content: center;
}
.footerContacts a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.footerContacts p {
  color: #9c9c9c;
  font-size: 12px;
  margin-right: 1vw;
}
.mobileApp {
  justify-content: space-around;
  align-items: center;
}
.mobileApp img {
  margin: 1vw;
}
.footerBtm {
  align-self: stretch;
  margin: 2vh 0vw 2vh 0vw;
}
.footerBtm a {
  color: #9c9c9c;
  font-size: 12px;
  margin-right: 1vw;
  text-decoration: none;
}
